.dropdown {
    position: absolute;
    z-index: 9999;
    background-color: rgba(4, 13, 18, 1);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border: 2px solid white;
    border-top: none;
    width: 538px;
}

.item {
    margin-left: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;



    &:hover {
        color: rgba(159, 149, 255, 1);
        cursor: pointer;
    }

    + .item {
        margin-top: 5px;

    }
}


