.btn {
  font-family: "Kanit", sans-serif;
  padding: 4px 30px;
  border-radius: 20px;
  border: 2px solid white;
  gap: 4px;
  background-color: rgba(4, 13, 18, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.1px;
  text-align: left;
  cursor: pointer;
  border: 3px solid #FFF;

  + .btn {
    margin-top: 16px;
  }
}

.active {
  padding: 4px 30px;
  background-color: #776DC3;
  border: none;
}
button:disabled{
  color: gray;
  cursor: not-allowed;
  border-radius: 18px;
  border: 2px solid #FFF;
  opacity: 0.35;
  background: #040D12;
}

@media (max-width: 768px) {
  .btn {
    padding: 4px 12px;
  }
}

@media (max-width: 550px) {
  .btn {
    padding: 0 10px 0 10px;
    max-height: 34px;
    + .btn {
      margin-top: 0;
      margin-left: 4px;
    }
  }

  .active {
    padding: 2px 12px 2px 12px;
  }
}

@media (max-width: 350px) { 
  .btn {
    font-size: 12px;
  }
}