.sectionHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #040d11;
}

.container {
  max-width: 1218px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 25px 0;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.left {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 18px;
}

.link {
  margin-top: -4px;
}

.right {
  display: flex;
  align-items: center;
  gap: 0 17px;
}

.languageSelect {
  display: flex;
  align-items: center;
  gap: 0 8px;
  cursor: pointer;
}

.menuBtn {
  display: none;
  border: none;
    background: none;
    color: white;
}

@media screen and (max-width: 768px) {

  .right {
    margin-right: 50px;
}

  .menuBtn {
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 1100;
    cursor: pointer;
    
  }

  .headerAnchor {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .languageSelect {
    display: none;
  }

  // .headerMenu {
  //   align-items: flex-start;
  //   padding: 0 0 0 50px;
  // }
}

@media screen and (max-width: 400px) {
  .headerLogo svg {
    width: 125px;
    height: 40px;
  }

  .right {
    margin-right: 40px;
  }
  .button {
    font-size: 11px;
    letter-spacing: -0.02px;
  }
}
