
.languages {
  display: none;
}

.footer {
  margin-bottom: 100px;
}
.container {
  max-width: 1218px;
  margin: 0 auto;
  padding: 0 20px;
}

.footerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.16px;
}

.footerSocial {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerSocialLinks {
  display: flex;
  align-items: center;
  gap: 18px;
}

.footerSocialText {
  display: flex;
  justify-content: flex-start;
}

.footerAddress {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-bottom: 50px;
  }

  .footerItems {
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    font-size: 12px;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    // margin-top: 10px;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 550px) {
  .languages {
    display: block;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .footerItems {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    font-size: 11px;
   
    letter-spacing: -0.11px;
  }

  .div4 {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: end;
  }
  .footerSocial {
    gap: 1px;
  }
  .footerSocialText {
    display: flex;
    justify-content: flex-end;
  }
  .footerAddress {
    gap: 2px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0 15px;
  }

  .div2 {
    margin-top: 0px;
  }

}

