.languages {
  display: none;
}

.footer {
  margin: 32px 0;
}
.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 20px;
}

.footerItems {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.contacts {
  display: inline-flex;
  flex-direction: column;
}

.contact__text {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.16px;
}

.links {
  display: flex;
  gap: 18px;
}

.about {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.16px;
}

@media screen and (max-width: 550px) {
  .languages {
    display: block;
    flex-wrap: wrap;
    padding: 0;
  }

  .footerItems {
    display: grid;
    grid-template-columns: 250px (2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }

  .about {
    font-size: 12px;
  }
}
