.prices {
	padding: 66px 0;
}
.container {
  max-width: 1218px;
  margin: 0 auto;
  padding: 0 20px;
}

.priceBlock {
	display: flex;
}

.priceItems {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

@media (max-width: 1250px) {
	.priceItems {
		gap: 10px;
	}
}

@media (max-width: 768px) {
	.prices {
		padding: 33px 0;
		
	}
	// .container {
	// 	padding: 0 0px;
	// }
	.priceItems {
		flex-wrap: nowrap;
	}
}