// Buttons navbar

.buttonItems {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  margin: 32px 0;
  width: 100%;
  gap: 10px;
  font-family: 'Kanit' sans-serif;
}

.buttonItem {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.2px;

  color: #fff;
  padding: 4px 14px;

  border-radius: 20px;
  border: 3px solid #fff;
  background: #040d12;

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
}

.activeButtonItem {
  background-color: #776DC3;
  border: 2px solid #776DC3;
}

// Media
@media (max-width: 992px) {
  .buttonItem {
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.5px;
    padding: 4px 12px;
  }
}

@media (max-width: 550px) { 
  .buttonItem { 
    padding: 0px 10px;
  }

}





